@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}
body .loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
body .loading-indicator span {
  font-style: italic;
}
body a {
  text-decoration: none;
  color: #fefefe;
}
body a:hover {
  color: #fefefe;
}
body .fit {
  width: 1%;
}
body .icnyfy {
  margin-bottom: 4px;
  font-size: 18px;
  color: #aaa;
}
body .rdt_TableHead {
  font-weight: bold;
  font-size: 14px;
  color: #fefefe;
}
body .rdt_TableHeadRow {
  background-color: #a571e8;
}
body .modal-header {
  padding: 8px 20px;
  border-bottom: none;
}
body .modal-footer {
  padding: 8px 20px;
}
body .c-header {
  margin-left: 200px;
  margin-bottom: 8px;
  padding: 12px;
  color: #6913d8;
  font-size: 14px;
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
@media (max-width: 1200px) {
  body .c-header {
    margin-left: 0px;
    padding: 12px 30px;
  }
}
body .c-header .sidebar-toggler {
  color: #6913d8;
  font-size: 25px;
  margin-bottom: 3px;
  display: none;
}
@media (max-width: 1200px) {
  body .c-header .sidebar-toggler {
    display: inline;
  }
}
@media (max-width: 1200px) {
  body .c-header .header-profile-text {
    display: none;
  }
}
body .c-sidebar {
  background-color: #8742e0;
  position: absolute;
  top: 0;
  width: 200px;
  height: 100vh;
  color: #fefefe;
  z-index: 1000;
}
@media (max-width: 1200px) {
  body .c-sidebar {
    left: -100%;
  }
}
body .c-sidebar .c-side-menu-icon {
  margin-bottom: 3px;
  margin-right: 8px;
  font-size: 20px;
}
body .c-sidebar .btn-close-sidebar {
  font-size: 24px;
  margin-right: 12px;
  margin-top: 12px;
  display: none;
}
@media (max-width: 1200px) {
  body .c-sidebar .btn-close-sidebar {
    display: inline;
  }
}
body .c-sidebar ul {
  margin-top: 80px;
  padding-left: 20px;
}
body .c-sidebar ul .sidemenu-active {
  background-color: #fff;
  color: #6913d8;
}
body .c-sidebar ul li {
  list-style: none;
  margin: 8px 0px;
  padding: 8px;
  padding-left: 12px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
body .c-sidebar-shown {
  left: 0px;
}
body .main-container {
  margin-left: 200px;
  padding: 12px;
  height: calc(100vh - 66px);
  overflow-y: auto;
}
@media (max-width: 1200px) {
  body .main-container {
    margin-left: 0px;
  }
}
body .main-container .welcome-section {
  height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main-container .welcome-section p {
  max-width: 500px;
}
body .main-container .c-card {
  width: 100%;
  border: 1px solid #a571e8;
  border-radius: 1rem;
  padding: 12px 20px;
}
body .main-container .c-card h4 {
  text-align: center;
}
body .main-container .c-card .sub-info {
  color: #540fad;
  font-size: 14px;
  font-weight: bold;
}
body .main-container .c-card .cust-box {
  background-color: rgba(207, 226, 255, 0.2);
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
body .main-container .c-card .cust-box .text-muted {
  font-style: italic;
  font-size: 14px;
}
body .main-container .c-card .cust-box .tbl-lbl {
  width: 10%;
}
body .main-container .c-card .box-tabel {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  overflow-x: scroll;
}
body .main-container .c-card .box-tabel table {
  min-width: 500px;
}/*# sourceMappingURL=custom_style.css.map */